 @keyframes float {

            0%,
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-20px);
            }
        }

        .float {
            animation: float 12s ease-in-out infinite;
        }

        @keyframes blink {

            0%,
            50%,
            100% {
                opacity: 1;
            }

            25%,
            75% {
                opacity: 0;
            }
        }

        .animate-blink {
            animation: blink 1s infinite;
        }

        /* @keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
} */

/* .skill-card {
  @apply w-[140px] h-[140px]
  bg-white rounded-2xl
  flex flex-col items-center justify-center gap-3
  border border-gray-300
  shrink-0
  transition-all duration-300
  hover:scale-105;
}

.skill-card p {
  @apply font-semibold text-current;
} */

.slide {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.slide.active {
  opacity: 1;
}

.todo-slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.todo-slide.active {
  opacity: 1;
}